.sw_main {
    display: flex; 
}
.col-left {
    width: 7%;
    padding: 1%;
}
.col-left-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.col-left .brand img {
    width: 120px;
    height: 50px;
    margin-bottom: 1%;
}
.col-left .icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3vh;
    margin-top: 15vh;
}
.col-main {
    display: flex;
    flex-direction: column;
    width: 69%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 2%;
}
.art-card .user-img img {
    width: 33px;
    height: 33px;
}

.art-card {
    display: flex;
    gap: 2%;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding: 1%;
    
}
.art-card .art-img img {
    width: auto;
    height: 19vh;    
}
.art-card .art-title {
    font-size: 1.2em;
    font-weight: bold;
    padding: auto;
}
.art-card .level-right i {
  font-size: larger;
}
.col-right {
    width: 22%;
}
.col-right .user-stat {
/* blur background image */
    background-image: url(https://images.unsplash.com/photo-1518806118471-f28b20a1d79d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.col-right .user-stat img {
    width: 100%;
    height: 100%;
    padding: 3%;
}
.col-right .bg-blur {
    background-color: rgba(241, 241, 239, 0.5);
    height: 100%;
    border-radius: 10px;
    font-weight: bold;
    padding: 2%;
}
